#Ignores all the virtual environment data
.env
# Python
__pycache__/
.venv/
.vscode
.ipynb/
#Ignores all the Data & Databases
data/
postgres_data/
*.db 

#Ignores all the docker and log files
Docker & Logs
.docker/
*.Logs
.lock

# System
.DS_Store
.vscode
test.ipynb
